@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar but Keep Scroll Functionality */
.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
